name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Ensure full history is available
    - name: Build the Docker image
      run: docker build . --file Dockerfile.warp --tag ad-blocking:$(date +%s)
