# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-api-client:
    name: Build API Client
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src/adguard-api-client

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore src/AdGuard.ApiClient.sln
    - name: Build
      run: dotnet build src/AdGuard.ApiClient.sln --no-restore
    - name: Test
      run: dotnet test src/AdGuard.ApiClient.sln --no-build --verbosity normal
